<div class="card" [class.sin-stock]="producto.stock === 0">
  <img [src]="'images/productos/' + producto.imagenUrl" 
       [alt]="producto.nombre" 
       class="card-image" />

  <div class="card-body">
    
    <div class="card-header">
      <h3>{{ producto.nombre }}</h3>
      <strong class="card-price">${{ producto.precio }}</strong>
    </div>
    <p>{{ producto.descripcion }}</p>
    <p>Cantidad en stock: {{ producto.stock }}</p>

    <span>{{ producto.clasificacion }}</span>

    <button 
      (click)="agregar(producto.id)"
      [disabled]="producto.stock === 0">
      Agregar al carrito
    </button>
    
    @if (mensaje) {
      <div class="popup">{{ mensaje }}</div>
    }
   @if (producto.stock === 0 && !mensaje){
      <div class="popup popup--error">Sin stock disponible</div>
    }
  </div>
</div>