<div class="header-tienda">
  <h3 class="titulo">Tienda</h3>
  <div class="buscador-wrapper">
    <i class="bi bi-search search-icon"></i>
    <input
      class="buscador-productos"
      type="text"
      placeholder="Buscar productos..."
      (input)="onInput($event)"
    />
  </div>
</div>

@if (mensajeError) {
  <div >
    <p class="mensaje-error">
      {{ mensajeError }}
      <span class="cerrar-error" (click)="mensajeError = ''">✕</span>
    </p>
  </div>
}

<div class="productos-grid">
  @for (producto of productos$ | async; track producto.id) {
    <app-producto-card 
      [producto]="producto" 
      (actualizado)="recargarProductos()"
      (errorLogin)="mensajeError = $event">
    </app-producto-card>
  }
</div>