<nav class="navbar">

  <a routerLink="/" class="navbar-brand">
    <span class="brand-icon">✦</span>
    NOVA Tienda
  </a>

    <h2 class="navbar-links">
    <a routerLink="/productos">Productos</a>
  </h2>

    <div class="navbar-actions">
    <button class="cart-btn" routerLink="/carrito">
      🛒
      <span class="cart-badge">{{ cantidadItems().length }}</span>
    </button>
    
    <button class="btn-primary" [style.visibility]="estaEnLogin ? 'hidden' : 'visible'" routerLink="/login">Ingresar</button>
  
  </div>

</nav>
